#how-it-works
  .row
    .small-12.columns.small-centered.text-center
      %h3.header= t('home.how_it_works')
  .row
    - t('home.howitworks.step').each do |index, step|
      - header, content = step.chomp.split('|')
      .small-12.medium-4.columns.space-bottom.text-center
        .row
          .small-3.medium-12.columns
            - if index < 2
              .step-circle.large= index + 1
            - else
              .step-circle.large.third.last= index + 1
          .small-9.medium-12.columns
            %h5= header
            %p= content
